<a href="https://colab.research.google.com/github/dilshod1301/5-topshiriq/blob/main/Malumotlarini_intelektual_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
G={"Ism":["Dilshodbek","Sardor","Abdulaziz","Gulbahor","Doniyor"],"Yoshi":[21,22,20,19,17],"Manzili":["Andijon","Farg'ona","Toshkent","Namangan","Andijon"],"Yili":[2004,2005,2006,2003,2005],"Telefon_raqami":[908291301,931667374,952345656,987897879,898908989]}
j2=pd.DataFrame(G)
print(j2)

          Ism  Yoshi   Manzili  Yili  Telefon_raqami
0  Dilshodbek     21   Andijon  2004       908291301
1      Sardor     22  Farg'ona  2005       931667374
2   Abdulaziz     20  Toshkent  2006       952345656
3    Gulbahor     19  Namangan  2003       987897879
4     Doniyor     17   Andijon  2005       898908989

In [10]:
j2 = pd.DataFrame(G)

print("Yoshi o'sish tartibida:")
print(j2.sort_values(by="Yoshi", ascending=True))

Yoshi o'sish tartibida:
          Ism  Yoshi   Manzili  Yili  Telefon_raqami
4     Doniyor     17   Andijon  2005       898908989
3    Gulbahor     19  Namangan  2003       987897879
2   Abdulaziz     20  Toshkent  2006       952345656
0  Dilshodbek     21   Andijon  2004       908291301
1      Sardor     22  Farg'ona  2005       931667374

In [11]:
j2 = pd.DataFrame(G)

print("\nYoshi bo‘yicha kamayish tartibida:")
print(j2.sort_values(by="Yoshi", ascending=False))

Yoshi bo‘yicha kamayish tartibida:
          Ism  Yoshi   Manzili  Yili  Telefon_raqami
1      Sardor     22  Farg'ona  2005       931667374
0  Dilshodbek     21   Andijon  2004       908291301
2   Abdulaziz     20  Toshkent  2006       952345656
3    Gulbahor     19  Namangan  2003       987897879
4     Doniyor     17   Andijon  2005       898908989

In [12]:
j2 = pd.DataFrame(G)

# 2-tartib raqamdagi talaba (indeks = 1)
print(j2.iloc[1])

Ism                  Sardor
Yoshi                    22
Manzili            Farg'ona
Yili                   2005
Telefon_raqami    931667374
Name: 1, dtype: object

In [13]:
j2 = pd.DataFrame(G)

rows, cols = j2.shape
print("Satrlar soni:", rows)
print("Ustunlar soni:", cols)

Satrlar soni: 5
Ustunlar soni: 5

In [14]:
j2 = pd.DataFrame(G)

jadval2 = j2[["Ism", "Telefon_raqami"]]

print(jadval2)

          Ism  Telefon_raqami
0  Dilshodbek       908291301
1      Sardor       931667374
2   Abdulaziz       952345656
3    Gulbahor       987897879
4     Doniyor       898908989

In [15]:
j2 = pd.DataFrame(G)

print(j2.sort_values(by="Ism"))

          Ism  Yoshi   Manzili  Yili  Telefon_raqami
2   Abdulaziz     20  Toshkent  2006       952345656
0  Dilshodbek     21   Andijon  2004       908291301
4     Doniyor     17   Andijon  2005       898908989
3    Gulbahor     19  Namangan  2003       987897879
1      Sardor     22  Farg'ona  2005       931667374

In [17]:

j2 = pd.DataFrame(G)

eng_kichik_2 = j2.sort_values(by="Yoshi").head(2)
print("Eng kichik 2 nafar talaba:")
print(eng_kichik_2)

Eng kichik 2 nafar talaba:
        Ism  Yoshi   Manzili  Yili  Telefon_raqami
4   Doniyor     17   Andijon  2005       898908989
3  Gulbahor     19  Namangan  2003       987897879